<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <ancoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %logger{36} -%msg%n
            </pattern>
        </ancoder>

        <logger name="root" level="INFO"/>
        <logger name="net.serenitybdd" level="INFO"/>
        <logger name="net.thucydides" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </appender>
</configuration>